---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import Link from '../components/Link.astro';
import Hero from "../components/Hero.astro";
import PictureSection from "../components/PictureSection.astro";
import Chapter from "../components/Chapter.astro";
import Review from "../components/Review.astro";
---
<MainLayout title="Titel">
	<article>
		<Hero></Hero>
	</article>
	<section>
<PictureSection></PictureSection>
	</section>
	<section>
		<Chapter></Chapter>
	</section>

	<section class="pl-6 pr-6">
	<h1 class="text-center pb-6 pt-6">Pressen siger</h1>

	<Review title="5 af 6 stjerner" content="Københavnerbilleder er en grundig introduktion til at skyde billeder med retro-kant. Hvad enten du er har arbejdet med foto siden 135-filmen kom på markedet, du kun har skudt digitalt eller er helt nybegynder, er der masser af tips og tricks i bogen. Hanne Hovgaard, Berlingeren "></Review>
	<Review title="4 af 5 stjerner" content="Teksten er underholdende, og billederne er sku’ flotte. Hvad mere skal man sige om en fotobog?Kim Kloggaard, Fotojournalen.dk"></Review>
	<Review title="6 af 6 stjerner" content="Sten Simons kan det der - og han bliver bedre og bedre. Stens tredje fotobog er klart den bedste - her er han for alvor i sit rette element, meget bedre end “studiefotografering som begyndere.” Tillykke - godt arbejde.Volmer Hansen, Lukkertiden.dk "></Review>

	</section>
	
</MainLayout>