---
import Button from "./Button.astro"
---


<article>
    <img src="../assets/images/kobenhavnerbilleder-sten-simons.jpg" alt="Hero">
    <h1>Københavner Billeder</h1>
    <p></p>
    <Button></Button>
</article>