---
import Button from "./Button.astro"
---


<article class="">
    <img class="h-full pb-6" src="/public/kobenhavnerbilleder-sten-simons.jpg" alt="Hero">
    <div class="text-center pb-6">
    <h1 >Københavnerbilleder - en guide til hipster foto</h1>
    <p>af Sten Simons</p>
    <Button >Køb Nu</Button>
  </div>
    <p class="pl-6 pb-6">Københavnerbilleder er de danske streetfotografers bibel: Det er en fusion mellem et kunstværk og en lærebog. Bogen gennemgår alle væsentlige aspekter af streetfotografering fra grundlæggende teknik til kreative eksperimenter. Alt sammen krydret med masser af inspirerende fotos. God læselyst!</p>
   
    <ul class="pl-6 text-center">
        <li>Titel: Københavnerbilleder - en guide til hipster foto</li>
        <li>Forfatter: Sten Simons</li>
        <li>Antal sider: 344</li>
        <li>Forlag: Mellem Linjerne</li>
        <li>ISBN: 987-6-987654-32-1</li>
        <li>Pris: 399.- </li>
    </ul>
    
</article>