---
// Henter parametrene fra Astro.props
const { href="#", target="_self", variant="textlink", size="standard"} = Astro.props;

//Definer den styling (Tailwind classes), der gør sig gældende for de forskellige varianter
const linkStyling = "";

//Definer den styling (Tailwind classes), der gør sig gældende for de forskellige varianter
const variantClasses ={
    "textlink": "font-sans text-2xl",
    "primary": "text-2xl md:text-4xl text-red-800 vibrate-1 inline-block underline font-bold font-h1",
    "secondary": "bg- inline block"
};

//Definer den stylin (Tailwind classes) der gør sig gældende for de forskellige størrelser
const sizeClasses = {
    "standard": "",
    "large": "p-10",
    "medium": "md:pt-6",
    "small": "p-4"
};


---
<a href={href} target={target} class:list={[linkStyling, variantClasses[variant], sizeClasses[size]]}><slot /></a>