---
---

<div class="pr-6 pl-6 md:pr-0 md:pl-0 md:grid md:grid-cols-8 md:gap-8">

    <div class="md:col-start-2 md:col-end-4">
    <img class="pb-6 pt-6 md:pt-0 md:pb-0" src="/kobenhavnerbilleder_aaben_venstre.jpg" alt="Åben bog">
    </div>
   <div class="md:col-start-4 md:col-end-6">
    <img class="pb-6 md:pb-0" src="/kobenhavnerbilleder_oppefra.jpg" alt="oppefra">
    </div>
    <div class="md:col-start-6 md:col-end-8">
    <img class="pb-6" src="/kobenhavnerbilleder-sten-simons.jpg" alt="lukket">
    </div>
</div>