---
---

<div class="pr-6 pl-6">
    <img class="pb-6 pt-6" src="/public/kobenhavnerbilleder_aaben_venstre.jpg" alt="Åben bog">
    <img class="pb-6" src="/public/kobenhavnerbilleder_oppefra.jpg" alt="oppefra">
    <img class="pb-6" src="/public/kobenhavnerbilleder-sten-simons.jpg" alt="lukket">
</div>